* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Base Styles */

body {
    font-family: 'Raleway', sans-serif;
    background: #fff;
    /* color: #333; */
    line-height: 1.7;
}

h1,
h2 {
    font-weight: 250;
    font-size: 1.5rem;
    line-height: 1.2;
}

ul {
    list-style: none;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
}


/* .text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
} */


/* Header */

header h1 {
    /* color: #e97a5b; */
    color: #bf8273;
    padding-left: 10px;
}


/* Navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    background: #333339;
    color: #fff;
    opacity: .8;
    padding: 0 20px;
}

#navbar a {
    color: #fff;
    padding: 10px 10px;
    font-size: .8rem;
}

#navbar a:hover {
    color: #a35a4e;
}

#navbar ul {
    display: flex;
}


/* About */

#aboutMe {
    padding: 40px 100px;
    background: #99999d;
    color: #fff;
    font-size: .9rem;
}

#aboutMe h1 {
    color: #fff;
    padding-bottom: 20px;
}

#aboutRow1 {
    float: left;
    /* padding: 20px; */
    justify-content: space-between;
    margin: 0 20px;
    shape-outside: circle();
}

#aboutMe img {
    border-radius: 50%;
    margin-right: 50px;
    width: 150px;
    height: 150px;
}


/* Projects */


/*
#projectsGallery {
    display: inline-block;
} */


/* Footer */

footer {
    background: #333339;
    opacity: .9;
    height: 60px;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 15px;
}